*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(9, 55, 77);
    color: azure;
    line-height:1.5;
}

a{
    text-decoration: none;
}


li{
    display: inline-block;
    margin-right: 8px;
    transition: transform 300ms;
}

code{
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(53, 53, 53);
    padding: 0 2px;
    border-radius: 3px;
    

}


.li_nav:hover{
    transform: scale(1.1);
    
}



.header_content{
    display: flex;
    padding-top:2%;
    margin: 0 20%;
    justify-content: space-between;
    align-items: center;


}


nav{
    width:40%;
    


}

nav ul{
    display: block;
    list-style: none;
    

}


main{

    display: grid;
    grid-template-rows: 25%;
    row-gap: 10%;
    margin: 0 20%;
    padding-top: 2%;


}

.li_contacto{
    display: block;
    margin-bottom: 3px;
}

.social{
    transition: transform 300ms;

}

.social:hover{
    transform: scale(1.1)

}